{% extends 'admin/layout.html.twig' %}

{% block title %}Ajouter un Utilisateur - Admin{% endblock %}

{% block breadcrumb_title %}Ajouter un Utilisateur{% endblock %}
{% block breadcrumb_items %}
    <li><a href="{{ path('admin_user_index') }}">Utilisateurs</a></li>
    <li>Nouveau</li>
{% endblock %}

{% block body %}
<div class="row">
	<div class="col-lg-12 col-md-12">
		<div class="widget-box">
			<div class="wc-title">
				<h4><i class="fa fa-user-plus"></i> Créer un Nouvel Utilisateur</h4>
			</div>
			<div class="widget-inner">
				{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal'}}) }}

				<!-- Prénom & Nom -->
				<div class="row">
					<div class="col-lg-6">
						<div class="form-group m-b20">
							<label class="col-lg-5 col-md-4 control-label"><i class="fa fa-user"></i> Prénom *</label>
							<div class="col-lg-12">
								{{ form_widget(form.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'}}) }}
								{% if form.prenom.vars.errors|length > 0 %}
									<div class="text-danger small mt-1">
										{% for error in form.prenom.vars.errors %}
											<i class="fa fa-exclamation-circle"></i> {{ error.message }}
										{% endfor %}
									</div>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="form-group m-b20">
							<label class="col-lg-5 col-md-4 control-label"><i class="fa fa-user"></i> Nom *</label>
							<div class="col-lg-12">
								{{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom de famille'}}) }}
								{% if form.nom.vars.errors|length > 0 %}
									<div class="text-danger small mt-1">
										{% for error in form.nom.vars.errors %}
											<i class="fa fa-exclamation-circle"></i> {{ error.message }}
										{% endfor %}
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>

				<!-- Email & Rôle -->
				<div class="row">
					<div class="col-lg-6">
						<div class="form-group m-b20">
							<label class="col-lg-5 col-md-4 control-label"><i class="fa fa-envelope"></i> Email *</label>
							<div class="col-lg-12">
								{{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'exemple@email.com'}}) }}
								{% if form.email.vars.errors|length > 0 %}
									<div class="text-danger small mt-1">
										{% for error in form.email.vars.errors %}
											<i class="fa fa-exclamation-circle"></i> {{ error.message }}
										{% endfor %}
									</div>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="form-group m-b20">
							<label class="col-lg-5 col-md-4 control-label"><i class="fa fa-shield"></i> Rôle *</label>
							<div class="col-lg-12">
								{{ form_widget(form.role, {'attr': {'class': 'form-control'}}) }}
								{% if form.role.vars.errors|length > 0 %}
									<div class="text-danger small mt-1">
										{% for error in form.role.vars.errors %}
											<i class="fa fa-exclamation-circle"></i> {{ error.message }}
										{% endfor %}
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>

				<!-- Mot de passe & Téléphone -->
				<div class="row">
					<div class="col-lg-6">
						<div class="form-group m-b20">
							<label class="col-lg-5 col-md-4 control-label"><i class="fa fa-lock"></i> Mot de passe *</label>
							<div class="col-lg-12">
								{{ form_widget(form.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Minimum 6 caractères'}}) }}
								{% if form.plainPassword.vars.errors|length > 0 %}
									<div class="text-danger small mt-1">
										{% for error in form.plainPassword.vars.errors %}
											<i class="fa fa-exclamation-circle"></i> {{ error.message }}
										{% endfor %}
									</div>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="form-group m-b20">
							<label class="col-lg-5 col-md-4 control-label"><i class="fa fa-phone"></i> Téléphone</label>
							<div class="col-lg-12">
								{{ form_widget(form.telephone, {'attr': {'class': 'form-control', 'placeholder': '+216 XX XXX XXX'}}) }}
								{% if form.telephone.vars.errors|length > 0 %}
									<div class="text-danger small mt-1">
										{% for error in form.telephone.vars.errors %}
											<i class="fa fa-exclamation-circle"></i> {{ error.message }}
										{% endfor %}
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>

				<!-- Adresse -->
				<div class="form-group m-b20">
					<label class="col-lg-3 col-md-4 control-label"><i class="fa fa-map-marker"></i> Adresse</label>
					<div class="col-lg-9 col-md-8">
						{{ form_widget(form.adresse, {'attr': {'class': 'form-control', 'rows': '3', 'placeholder': 'Adresse complète'}}) }}
						{% if form.adresse.vars.errors|length > 0 %}
							<div class="text-danger small mt-1">
								{% for error in form.adresse.vars.errors %}
									<i class="fa fa-exclamation-circle"></i> {{ error.message }}
								{% endfor %}
							</div>
						{% endif %}
					</div>
				</div>

				<!-- Statut -->
				<div class="form-group m-b20">
					<label class="col-lg-3 col-md-4 control-label"><i class="fa fa-toggle-on"></i> Statut</label>
					<div class="col-lg-9 col-md-8">
						<div class="mt-2">
							{{ form_widget(form.actif) }} Compte actif
						</div>
					</div>
				</div>

				<!-- Boutons d'action -->
				<div class="form-group m-t30">
					<div class="col-lg-offset-3 col-lg-9 col-md-offset-4 col-md-8">
						<button type="submit" class="btn btn-lg btn-action-create">
							<i class="fa fa-save"></i> Enregistrer
						</button>
						<a href="{{ path('admin_user_index') }}" class="btn btn-lg btn-action-back">
							<i class="fa fa-arrow-left"></i> Retour
						</a>
					</div>
				</div>

				{{ form_end(form) }}
			</div>
		</div>
	</div>
</div>
{% endblock %}
